<%- model_class = Member.new.class -%>
<%= render "shared/header" %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th><%= model_class.human_attribute_name(:description) %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.fname %> <%= member.lname %></td>
        <td><%= member.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

            
<%= render "shared/footer" %>
