<%- model_class = Blog.new.class -%>
<%= render "shared/header" %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:projects_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:post) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.projects.name %></td>
        <td><%= blog.title %></td>
        <td><%= blog.post %></td>
        <td><%=l blog.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
           
<%= render "shared/footer" %>
