<%- model_class = @blog.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:projects_id) %>:</strong></dt>
  <dd><%= @blog.projects_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @blog.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:post) %>:</strong></dt>
  <dd><%= @blog.post %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              blogs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_blog_path(@blog), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              blog_path(@blog),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
