<%- model_class = Project.new.class -%>
<%= render "shared/header" %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id - 1 %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.url %></td>
        <td><%= project.source %></td>
        <td><%=l project.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

            
<%= render "shared/footer" %>            
